.mediaButton {
    height: 50px;
    width: 50px;
    color: white;
    background-color: aquamarine;
    font-size: 25px;
}

.barraInferior {
    background-color: aquamarine;
    font-weight: bold;
}