.containerApp {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

.footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40px;
}